.mainsite-header {
  margin-left: 15px;
}

.mynav {
  color: white;
  height: 44px !important;
  min-height: 44px !important;
}

.parsed-body h1 {font-size:20px;}
.parsed-body h2 {font-size:20px; margin-top: 0px; text-align: center; }
.parsed-body h3 {font-size:18px;}
.parsed-body a { color: #ff6e00; }
.parsed-body a:hover { color: #ff6e00; opacity: 0.6; }
.parsed-body {
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

.parsed-body .container {
	max-width: 1000px;
  width: 100%;
}

/** Widescreen Devices **/
@media (min-width: 1400px) {

  .parsed-body {
		width: 100em;
	}

	.parsed-body .container .panel-body {
		padding-left: 4em;
		padding-right: 4em;
	}
}

/** Bootstrap overides */
.navbar-default {
	margin: 0px;
	border-radius: 0px;
	padding: 0px;
	border: 0;
}

.container .panel-default {
  border-radius: 0px;
  border-color: #F1F1F1;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 40px;
}

.navbar-nav {
  margin: 0;
} 

div#navbar.collapse.navbar-collapse, div.navbar-header, .navbar {
  height: 44px !important;
  min-height:44px !important;
}

.panel-default .panel-body div {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.container hr {
  border-top-color: #F1F1F1;
  width: 99%;
}

.container hr {
  margin-top: 3px;
  margin-bottom: 15px;
}

.small-gap {
 margin-top: 1.5em;
}

.navbar ul {
  text-align: center;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  margin-top: 10px;
  text-align: center;
}

/*
 * Affix and center
 */

@media (min-width: 992px) and (min-height: 600px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}
