<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blake Loring, software developer. My personal website">
    <meta name="author" content="Blake Loring">

    <title>Blake Loring</title>

    <script src="./js/jquery.js"></script>

    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/cover.css" rel="stylesheet">
    <link href="./css/shared.css" rel="stylesheet">
    <link rel="icon" href="./img/favicon.ico">

  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          
          <div class="mynav masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><a href="/">Blake Loring</a></h3>
              <nav>
                <ul class="nav masthead-nav">
                    {{{NAV_BAR_CONTENT}}}
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover"> 
<div class="row">
              <div class="col-xs-12 col-md-2"><img class="intro-image"
		      src="./img/expose.png"></img></div>
              <div class="col-xs-12 col-md-10">
                <b class="center">ExpoSE</b>
                <div>ExpoSE is a dynamic symbolic execution tool for JavaScript with support for asynchronous events, strings, and complex regular expressions (including capture groups).</div>
                <div class="more-info"><a href="/articles/expose">More Info</a></div>
              </div>
            </div>
            <hr class="featurette-divider">
            <div class="row">
              
              <div class="col-xs-12 col-md-10">
                <b class="center">Kiniro</b>
                <div>Kiniro is a small mobile game built on top of a cross-platform engine. The game and engine are written in C++, using OpenGL and RocketUI for visuals and OpenAL for audio. The engine also features a comprehensive resource management system.</div>
                <div class="more-info"><a href="/articles/kiniro">More Info</a></div>
              </div>
	      <div class="col-xs-12 col-md-2"><img class="intro-image" src="./img/kiniro_highres.png"></img></div>
            </div>
            <hr class="featurette-divider">
            <div class="row">
	    	<div class="col-xs-12 col-md-2"><img class="intro-image" src="./img/scribble.png"></img></div>
              <div class="col-xs-12 col-md-10">
                <b class="center">Scribble</b>
                <div><p>Scribble is a simple C style embeddable programming language which supports modern language features like type inference. The language was developed as part of my university dissertation</p></div>
                <div class="more-info"><a href="/articles/scribble">More Info</a></div>
              </div> 
            </div>
            <hr class="featurette-divider">
            <div class="row">
               <p><a class="more-info" href="http://github.com/jawline/">Click here to view my Github projects</a></p>
               <p class="more-info">Feel free to email me at <a href="mailto:blake@parsed.uk">blake@parsed.uk</a></p>  
            </div>
          </div>
          <div class="mastfoot">
            <div>
              <p>&copy; Blake Loring 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>
