<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blake Loring, software developer. My personal website">
    <meta name="author" content="Blake Loring">

    <title>Blake Loring</title>

    <script src="/js/jquery.js"></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link href="/css/shared.css" rel="stylesheet">
    <link rel="icon" href="/img/favicon.ico">

  </head>
  <body>

<div class="site-wrapper">
  <div class="site-wrapper-inner">

    <nav class="mynav navbar navbar-default navbar-enabled" role="navigation">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="header-return navbar-header">
            <ul class="masthead-nav nav navbar-nav">
                <li>
                    <a href="/">
                        <h3 class="masthead-brand">
                            <span class="head-center-span">Blake Loring</span>
                        </h3>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="masthead-nav nav navbar-nav">
                {{{NAV_BAR_CONTENT}}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </nav>

      <div class="parsed-body">
        <div class="container">
        <div class="small-gap panel panel-default">
        <div class="panel-body">
            <h2 class="center">{{{LIST_TITLE}}}</h2>
            <hr class="featurette-divider">
            {{{LIST_CONTENT}}}
        </div>
        </div>
        </div>
      </div>
  </div>
</div>

    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
